<div class="row">
  <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
    <h2>Contact us</h2>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-md-3" for="email">Email</label>
        <div class="col-md-9">
          <input type="email" class="form-control" id="email" #usermail/>
        </div>
      </div>
      <div class="form-group">
          <div class="col-md-9 col-md-offset-3">
            <button type="button" class="btn btn-primary" (click)="sendEmail(usermail)">
              <span class="glyphicon glyphicon-save"></span>Send
            </button>
          </div>
        </div>
    </form>
  </div>
</div>
