<div class="row">
  <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
    <h2>Add Product</h2>
    <form class="form-horizontal" #form="ngForm" (submit)="save(form)">
        <div class="form-group">
            <label class="control-label col-md-3" for="name">Name</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="name" #pname="ngModel" [(ngModel)]="product.name" name="name" required minlength="3"/>
              <div *ngIf="pname.touched && pname.invalid" class="text-danger">
                <div [hidden]="!pname.errors.required">Product name is required</div>
                <div [hidden]="!pname.errors.minlength">Minimum 3 characters required</div>
              </div>
              <!--<p>Valid: {{pname.valid}}, Invalid: {{pname.invalid}}</p>
              <p>Pristine: {{pname.pristine}}, Dirty: {{pname.dirty}}</p>
              <p>Touched: {{pname.touched}}, Untouched: {{pname.untouched}}</p>-->
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-3" for="price">Price</label>
              <div class="col-md-9">
                <input type="number" min="1" max="10000" class="form-control" id="price" #price="ngModel" [(ngModel)]="product.price" name="price" min="1" max="10000"  required/>
                <div *ngIf="price.touched && price.invalid" class="text-danger">
                    <div [hidden]="!price.errors.required">Product price is required</div>
                  </div>
              </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="mfgDate">Mfg Date</label>
                <div class="col-md-9">
                  <input type="date" class="form-control" id="mfgDate" #mdate="ngModel" [(ngModel)]="product.mfgDate" name="mfgDate" required/>
                  <div *ngIf="mdate.touched && mdate.invalid" class="text-danger">
                      <div [hidden]="!mdate.errors.required">Date is required</div>
                    </div>
                </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-md-3" for="category">Category</label>
                  <div class="col-md-9">
                    <select class="form-control" id="category" #category="ngModel" [(ngModel)]="product.category" name="category" required>
                        <option value="" selected>--Select--</option>
                        <option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</option>
                    </select>
                    <div *ngIf="category.touched && category.invalid" class="text-danger">
                        <div [hidden]="!category.errors.required">Category is required</div>
                      </div>
                  </div>
                </div>
          <div class="form-group">
              <div class="col-md-9 col-md-offset-3">
                <button type="submit" class="btn btn-primary">
                  <span class="glyphicon glyphicon-save"></span>Save
                </button>
              </div>
            </div>
    </form>
  </div>
</div>
