<h2>All Products</h2>
<div class="row">
  <div class="col-sm-3" *ngFor="let p of products | async">
    <div class="thumbnail thumbnail-item">
      <h3>{{p.name}}</h3>
      <p>Price: {{p.price}}</p>
      <p><a [routerLink]="['/edit',p.id]" [queryParams]="{name:p.name, price:p.price}">Edit</a></p>
      <p>
        <a class="btn btn-success" [routerLink]="['/add-cart',p.id]">Add To Cart</a>
        <a class="btn btn-info" [routerLink]="['/add-cart',p.id]">Add To Wishlist</a>
      </p>
    </div>
  </div>
</div>
