<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="panel">
      <div class="panel-header"><h4>Admin Login</h4></div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label class="control-label">User name</label>
            <input type="email" class="form-control" #email/>
          </div>
          <div class="form-group">
            <label class="control-label">Password</label>
            <input type="password" class="form-control" #password/>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">
              <span class="glyphicon glyphicon-login"></span> Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>